.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
build/
sdkconfig.old
*.log
training/dataset/raw/
training/dataset/processed/
training/project1_model.h5
training/project1_model.tflite
training/project1_model_int8.tflite
embedded/managed_components/
embedded/components/esp-tflite-micro/
